alias gs='git status'
alias gc='git checkout'
alias gb='git branch'
alias gl='git log -3'
alias gf='git fetch'
alias gp='git pull'
alias gbsu='git branch --set-upstream-to='
alias gsa='git stash apply'
alias gss='git stash save'
alias gsl='git stash list'
alias gcp='git cherry-pick'
alias cdd='cd ~/git/ufo'
alias gk='gitk &'
alias ga='git add . && git status'
alias gbd="git branch --list '*/develop*' -a"
alias gpdo='git push --delete origin'
alias myremotebranches='git branch -r | tail -n +2 | xargs -L1 git show -s --author=Love'
alias gca='git commit --amend'
alias vw='vim ~/vimwiki/index.wiki'
alias vimconf='vim ~/.config/nvim/init.vim'
alias cdjs='cd ~/git/ufo/projects-js/js-client'
alias vimconf='vim ~/.config/nvim/init.vim'
