alias gs='git status'
alias gc='git checkout'
alias gb='git branch'
alias gl='git log -3'
alias gf='git fetch'
alias gp='git pull'
alias gbsu='git branch --set-upstream-to='
alias gsa='git stash apply'
alias gss='git stash save'
alias gsl='git stash list'
alias gcp='git cherry-pick'
alias cdd='cd ~/git/ufo'
alias gk='gitk &'
alias ga='git add . && git status'
alias gbd="git branch --list '*/develop*' -a"
alias gpdo='git push --delete origin'
alias myremotebranches='git branch -r | xargs -L1 git --no-pager show -s --oneline --author="$(git config user.name)"'
alias gca='git commit --amend'
alias vw='vim ~/vimwiki/index.wiki'
alias vimconf='vim ~/.config/nvim/init.vim'
alias cdjs='cd ~/git/ufo/projects-js/js-client'
alias vimconf='vim ~/.config/nvim/init.vim'
alias bb='source ~/.custom_scripts/bb'
alias list-usb='sudo fdisk -l'
alias mount-usb-sdb1='sudo mount -t vfat /dev/sdb1 /media/usb -o uid=1000,gid=100,utf8,dmask=027,fmask=137'
alias unmount-usb='sudo umount /media/usb'
alias bletooth-sony='sudo bluetoothctl connect 38:18:4C:BD:91:80'
alias sony='sudo bluetoothctl connect 38:18:4C:BD:91:80'
alias weather='curl "wttr.in/Gothenburg"'
